<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<link type="text/css" rel="stylesheet" href="css/l4sstyleprueba.css">
<title>Manejo de agenda</title>
</head>
<body>
<img src="images/logolooking.jpg" alt="Logo Aplicación" style="width:780px;height:150px;">
<h1>Añadir horas</h1>
<p>Aquí podrás añadir horas a tu agenda.+:</p>
<!-- aquí el form con opción a añadir hora asignada o libre (si el campo padre está vacío, se asume que es libre) -->


{{#horaSobreescrita}}
¡Esa hora ya está asignada! Inténtelo de nuevo.
 {{/horaSobreescrita}}
<form action="alta-horas-agregada" method="post">
		<p>Día :</p><input type='text' name='day' />
		<p>Hora (NN) :</p><input type="text" name='hour' />
		<p>Padre <p class="aviso">(si no se rellena, se asumirá que es una hora libre)</p> :</p><input type="text" name='padre' />
		<p>Notas :</p><input type='text' name='notes' />
		<input type='submit' value='Dar hora de alta' />
		<input type="hidden"  name="_csrf" value="{{token}}"/>
		</form>
		
<!-- aquí se ve la lista de horas que se tienen ya para intentar no pisarlas, aunque habrá comprobación de horas -->

{{#horas}}
<br/>
Día: {{fecha}}
Hora: {{tiempo}}:00
{{#esAsignada}}
<!-- Poner el enlace a su perfil -->
<!-- Padre: {{padre.getLogin()}} -->
{{/esAsignada}}
Notas: {{notas}}
{{/horas}}

{{#vacio}}
¡No tienes horas registradas aún!
{{/vacio}}

		
</body>
</html>