<!DOCTYPE html>
<html>
<head>
<meta charset="ISO-8859-1">
<title>Insert title here</title>
</head>
<body>
	<p>Filtrar Anuncion</p>
	<form action="busqueda+anuncios">
		<p>Ciudad :</p><input type="search" name='ciudad' />
		<p>Fecha de inicio:</p><input type="date" name="fecha" />
		<p>Salario minimo:</p><input type="number" name="salario"/>
		<input type='submit' value='Buscar' />
	<p>Anuncios registrados</p>
	{{#anuncios}}
		Nombre : {{nombre}}
		Asunto: {{asunto}}
		Comentario: {{cuerpo}}
		Fecha:{{fecha}}
	{{/anuncios}}	
</body>
</html>