<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<title>Perfil de {{myprofileis}}</title>
</head>
<body>
<h1>Página principal de {{mynameis}}</h1>

{{#padre}}

	<h2>Búsqueda avanzada de sitters</h2>
	
	<form action="busqueda-avanzada-sitters" method="post">
		<p>Provincia (campo obligatorio): </p><input type='text' name='provincia' />
		<p>Tarifa máxima (si no hay máximo, escriba 0): </p><input type='text' name='tarifa_max' />
		<input type='submit' value='Buscar' />
	</form>
		
		
{{/padre}}

{{#sitter}}
	<h2>Tablón de anuncios</h2>
	<h2>Búsqueda de anuncio</h2>
	<form action="publicar+anuncio">
		<input type='submit' value='Publicar anuncio' />
	</form>
{{/sitter}}

{{#star_sitter}}
{{/star_sitter}}

{{#centro}}
	<h2>Búsqueda de Sitters</h2>
{{/centro}}



</body>
</html>