<!DOCTYPE html>
<html>
<head>
<link type="text/css" rel="stylesheet" href="css/l4sstyleprueba.css">
<meta charset="UTF-8">
<title>Publica un anuncio</title>
</head>
<body>
<img src="images/logolooking.jpg" alt="Logo Aplicación" style="width:780px;height:150px;">
<h2>Publicación de anuncios</h2>

	<div>
	<form action="add-anuncio" method= "post">
		{{#campovacio}}
		<p>Por favor, rellene <b>todos</b> los campos</p>
		{{/campovacio}}
		<p>Asunto :</p><input type='text' name='asunto' />
		<p>Fecha de inicio :</p><input type="date" name="fecha"/>
		<p>Mensaje :</p>
		<textarea rows='4' cols='50' name='cuerpo'></textarea>
		<br>
		<br>
	    <input type='submit' value='Enviar' />
	</form>
	</div>
</body>
</html>