<!DOCTYPE html>
<html>
<head>
<meta charset="ISO-8859-1">
<title>Insert title here</title>
</head>
<body>
<p>Su registro se ha realizado exitosamente.</p>
 <p>Complete los siguientes campos</p>
	<form action="continuacion+registro">
		<input type="text" name= "login" value = {{nombre_provisional}} readonly/>
		<input type="text" name="email" value= {{email_provisional}} readonly/>
		<input type ="hidden" name="password" value={{password_provisional}}/>
		<input type ="hidden" name="tipo" value={{tipo_provisional}}/>
		<p>Nombre :</p><input type='text' name='nombre' />
		<p>Provincia :</p><input type='text' name='provincia' />
		<input type="hidden" name='tarifa' value= 0 />
		<p>Descripcion: <input type='text' name='descripcion'/></p>
		<input type='submit' value='Enviar' />
	</form>
</body>
</html>