<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<link type="text/css" rel="stylesheet" href="css/l4sstyleprueba.css">
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
<title>Resultado de búsqueda de anuncios</title>
</head>
<body>
	<img src="images/logolooking.jpg" alt="Logo Aplicación" style="width:780px;height:150px;">
<h2>Tablón de anuncios</h2>
{{#nohayfecha}}
<h3>Resultados</h3>
{{/nohayfecha}}

{{#hayfecha}}
<h3>Resultados para el día {{mifecha}}</h3>
{{/hayfecha}}
{{#encontrado}}
	
	<table>
	<td>
	<table>
		<tr>
			<td>Login</td>
		</tr>
		{{#logins}}
		<tr>
			<td>{{.}}</td>
		</tr>
		{{/logins}}
		</table>
	</td>
	<td>
	<table>
		<tr>
			<td>Asunto</td>
		</tr>
		{{#asuntos}}
		<tr>
			<td>{{.}}</td>
		</tr>
		{{/asuntos}}
		</table>
	</td>
	<td>
	<table>
		<tr>
			<td>Mensaje</td>
		</tr>
		{{#cuerpos}}
		<tr>
			<td>{{.}}</td>
		</tr>
		{{/cuerpos}}
		</table>
	</td>
	{{#nohayfecha}}
	<td>
	<table>
		<tr>
			<td>Fecha</td>
		</tr>
		{{#fechas}}
		<tr>
			<td>{{.}}</td>
		</tr>
		{{/fechas}}
		</table>
	</td>
	{{/nohayfecha}}
	</table>
	
	<input type="submit" value="Volver al perfil" onclick="window.location='../perfil-usuario';" />
	
{{/encontrado}}
		
{{#fail}}
	<h2>No se han encontrado resultados</h2>
	<input type="submit" value="Intentar de nuevo" onclick="window.location='../perfil-usuario';" />
{{/fail}}


</body>

</html>