<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<title>Resultado de búsqueda de sitters</title>
</head>
<body>
<img src="images/logolooking.jpg" alt="Logo Aplicación" style="width:780px;height:150px;">
{{#provincias_vacias}}
<h2>Provincia vacía</h2>
	<input type="submit" value="Volver al perfil" onclick="window.location='../perfil-usuario';" />
{{/provincias_vacias}}

{{#vacio}}
<h2>No se han encontrado resultados</h2>
	<input type="submit" value="Intentar de nuevo" onclick="window.location='../perfil-usuario';" />
{{/vacio}}

{{#encontrado}}
<h2>Resultados para la búsqueda de Sitters</h2>
	<table>
		{{#resultadofinal}}
		<tr>
		<td>{{-index}}</td>
		<td>{{.}}</td>
		</tr>
		{{/resultadofinal}}
	</table>
	<input type="hidden" name="num_pag" value= {{numPag}} />
	<input type="submit" value="Siguiente"/>
	<div>
	<input type="submit" value="Volver al perfil" onclick="window.location='../perfil-usuario';" />
	</div>
	


{{/encontrado}}


</body>
</html>