<!DOCTYPE html>
<html>
<head>
	<link type="text/css" rel="stylesheet" href="css/l4sstyleprueba.css">
	<meta charset="UTF-8">
	<title>Bienvenido</title>
</head>
<body>
	<h1>¡Bienvenido a Looking4Sitter!</h1>
	<p>La aplicación número uno para Sitters que buscan trabajo y padres que necesitan ayuda con los más peques de la casa.</p>
		<h2>¿Ya tienes cuenta?</h2>
		<p>¡Inicia sesión aquí!</p>
		<div>
			<form action="inicio" >
				<!-- <a href="" onclick="javascript:document.getElementById('formInicio').submit();" class="botonguay"  ><span>Iniciar sesión</span></a> -->
				<input type="submit" value='Iniciar Sesión' />
			</form></div>
		<h2>¿Aún no te has registrado?</h2>
		<p>¡Empieza aquí!</p>
		<div>
			<form action="registro"  >
				<!--  <a href="" onclick="submit()" class="botonguay"  ><span>Registrarse</span></a> -->
				<input type="submit" value='Registrarse' />
			</form></div>
		<h2>¿Quieres hablar con algunos de nuestros Sitters?</h2>
		<p>¡Charla en nuestro chat interactivo! ¡Es gratis!</p>
		<div>
			<form action="chat"  >
				<input type="submit" value='Entrar al chat' />
			</form></div>
</body>
</html>